# Разогрев

## Задание 1

Иногда, когда нужно создавать много однотипных лямбда функций, еще удобнее будет создать функцию, которая будет их генерировать.

Реализуйте функцию ``mod_checker(x, mod=0)``, которая будет **возвращать лямбда функцию** от одного аргумента ``y``, которая будет возвращать ``True``, если остаток от деления ``y`` на ``x`` равен ``mod``, и ``False`` иначе.

Если в ``return`` вашей функции написано выражение, отличное от лямбда функции - задание считается проваленным

**Sample:**

```python
mod_3 = mod_checker(3)

print(mod_3(3)) # True
print(mod_3(4)) # False

mod_3_1 = mod_checker(3, 1)
print(mod_3_1(4)) # True
```

In [61]:
def mod_checker(x, mod=0):
    return lambda y: y % x == mod

mod_3 = mod_checker(3)

print(mod_3(3))
print(mod_3(4))

mod_3_1 = mod_checker(3, 1)
print(mod_3_1(4))

True
False
True

# Numpy

In [62]:
import numpy as np

## Задание 2
Напишите функцию, которая принимает один аргумент - ``n``. Функция должна создать нампаевскую матрицу размером ``(n, n)`` и залить ее шахматным узором. Порядок узора не имеет значения, важен общий паттерн.

**Sample:**
```python
chess_maze(8)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]
```

In [63]:
def chess_maze(n):
    res = np.zeros((n, n), int)
    flag = True
    for row, el in enumerate(res):
        for element, position in enumerate(el):
            res[row][element] = np.invert(flag)
            flag = not flag
        flag = not flag

    return res

print(chess_maze(4))

print()

print(chess_maze(8))

print()

print(chess_maze(16))

[[0 1 0 1]
 [1 0 1 0]
 [0 1 0 1]
 [1 0 1 0]]

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

[[0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]]

## Задание 3
Напишите функцию, которая принимает 2 аргумента ``arr`` и ``exclude_values``. ``arr`` - это одномерный нампаевский массив, в котором необходимо поменять знак всем числам (инвертировать), которые есть в массиве ``exclude_values``. Действия необходимо делать прямо в исходном массиве, не создавая копий.

**Sample:**
```python
#Исходный вектор 
arr = np.arange(10+1)
exclude_values = np.arange(4, 8)
 
my_func(arr, exclude_values)
array([ 0  1  2  3 -4 -5 -6 -7  8  9 10])
```

In [64]:
def exclude_values(arr, exclude_values):
    for i, val in enumerate(arr):
        if val in exclude_values:
            arr[i] *= -1
    return arr

In [65]:
## Задание 3
arr = np.arange(10+1)
values = np.arange(4, 8)

print(exclude_values(arr, values))
print()

arr = np.arange(100+1)
values = np.arange(4, 80)

print(exclude_values(arr, values))
print()

arr = np.arange(25+1)
values = np.arange(20, 40)

print(exclude_values(arr, values))

[ 0  1  2  3 -4 -5 -6 -7  8  9 10]

[  0   1   2   3  -4  -5  -6  -7  -8  -9 -10 -11 -12 -13 -14 -15 -16 -17
 -18 -19 -20 -21 -22 -23 -24 -25 -26 -27 -28 -29 -30 -31 -32 -33 -34 -35
 -36 -37 -38 -39 -40 -41 -42 -43 -44 -45 -46 -47 -48 -49 -50 -51 -52 -53
 -54 -55 -56 -57 -58 -59 -60 -61 -62 -63 -64 -65 -66 -67 -68 -69 -70 -71
 -72 -73 -74 -75 -76 -77 -78 -79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19 -20 -21 -22 -23 -24 -25]

## Задание 4
Напишите функцию, которая принимает одномерный положительный нампаевский массив и минимум 4 раза выводит на экран (функция ``print``) этот же массив, в котором у элементов оставлена только целая часть. Все >= 4 раза функция должна использовать разные методы для извлечения целой части.

**Sample:**
```python
#Исходный вектор 
arr = np.random.uniform(low=10, high=100,size=20)
#Исходный вектор arr:
arr
[99.54707368 49.26237526 80.50565073 10.10998238 16.39378916 60.64633657
 25.49637622 31.06574268 94.48636127 73.41204506 75.70638137 70.43830146
 72.28607422 40.59319738 57.85802554 35.39428061 55.25707514 48.00020145
 38.39449991 26.19085017]
 
my_func(arr)

[99. 49. 80. 10. 16. 60. 25. 31. 94. 73. 75. 70. 72. 40. 57. 35. 55. 48.
 38. 26.]
[99. 49. 80. 10. 16. 60. 25. 31. 94. 73. 75. 70. 72. 40. 57. 35. 55. 48.
 38. 26.]
[99. 49. 80. 10. 16. 60. 25. 31. 94. 73. 75. 70. 72. 40. 57. 35. 55. 48.
 38. 26.]
[99 49 80 10 16 60 25 31 94 73 75 70 72 40 57 35 55 48 38 26]
[99. 49. 80. 10. 16. 60. 25. 31. 94. 73. 75. 70. 72. 40. 57. 35. 55. 48.
 38. 26.]
```

В примере 5 выводов print из функции, просто чтобы были :)

In [66]:
import math

In [67]:
def print_integer_fraction(arr):
    # using int
    for val in arr:
        print(int(val), end=" ")
    print()

    # using math.floor
    for val in arr:
        print(math.floor(val), end=" ")
    print()

    # using math.trunc
    for val in arr:
        print(math.trunc(val), end=" ")
    print()

    # using // 1
    for val in arr:
        print(f"{(val // 1):.0f}", end=" ")
    print()

In [68]:
arr = np.random.uniform(low=10, high=100,size=20)
# Исходный вектор arr:
print(arr)

print_integer_fraction(arr)

[14.61048251 34.64013985 20.51646644 11.46610869 31.14308876 78.28878668
 57.22254657 99.43628639 27.23192358 90.07749527 32.67006561 62.36784339
 28.94040898 96.96518833 18.14942803 18.95747344 90.58072098 35.72166982
 21.08367228 86.63810473]
14 34 20 11 31 78 57 99 27 90 32 62 28 96 18 18 90 35 21 86
14 34 20 11 31 78 57 99 27 90 32 62 28 96 18 18 90 35 21 86
14 34 20 11 31 78 57 99 27 90 32 62 28 96 18 18 90 35 21 86
14 34 20 11 31 78 57 99 27 90 32 62 28 96 18 18 90 35 21 86

## Задание 5
Напишите функцию, которая принимает два числа - ``N`` и ``p``. ``N`` - это размер стороны квадратной матрицы np.zeros, ``p`` - это количество индексов в матрице (p не превышает N*N), которые нужно заменить на случайные числа. Индексы и числа нужно выбирать случайно. Функция должна возвращать квадратную матрицу со стороной ``N``, в которой ровно ``p`` чисел заменены на случайные.

```python
my_func(N=6, p=4)

[[56.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.]
 [99.   0.   0.   0.   0.   0.]
 [  0.   0.   0. 83.   0.   0.]
 [  0.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0.   1.   0.]]
```

In [69]:
import random

In [70]:
def change_p_indices(N, p):
    if p > N**2:
        return None

    square_matrix = np.zeros((N, N))
    indices = random.sample(range(N**2), p)
    rand_values = [random.random() for _ in range(p)]

    for i, value in zip(indices, rand_values):
        square_matrix[i // N][i % N] = value

    return square_matrix

In [71]:
print(change_p_indices(N=6, p=4))

[[0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.        ]
 [0.15003068 0.59147199 0.         0.         0.         0.        ]
 [0.86498418 0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.68845538]]

In [72]:
print(change_p_indices(N=6, p=34))

[[0.17466033 0.25171966 0.93708288 0.38048154 0.32417949 0.36790261]
 [0.94176043 0.66677806 0.13152656 0.         0.34655027 0.54477173]
 [0.82870815 0.03733991 0.12093129 0.16159998 0.85877971 0.        ]
 [0.1964861  0.11360603 0.07133268 0.96467203 0.88501072 0.19426088]
 [0.48508444 0.88575031 0.68384931 0.58494323 0.7515559  0.59083603]
 [0.30603076 0.63649712 0.56286652 0.22297928 0.49392301 0.63846365]]

In [73]:
print(change_p_indices(N=6, p=37))

None

# Pandas

In [74]:
import pandas as pd

# Задание 6

Любым удобным для вас способом создайте ``dataframe`` c именем ``my_data``, в котором две колонки c именами (``type`` - строки, ``value`` - числа с плавающей точкой) и четыре наблюдения в каждой колонке:

```
type value
B    18.

B    20.

C    10.

C    -10.
```

Какой размер созданного вами датафрейма? (Подумайте, что лучше использовать - информацию из метода df.info() или информацию из метода df.memory_usage()?)
1) Измените тип данных колонки type на category. Как изменился размер датафрейма?
2) Измените тип данных колонки value на менее жадный. Как изменился размер датафрейма?

In [89]:
my_data = pd.DataFrame({'type': ['B', 'B', 'C', 'C'], 'value': [18, 20, 10, -10]})
my_data['type'] = my_data['type'].astype(str)
my_data['value'] = my_data['value'].astype(float)
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    4 non-null      object
 1   value   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

In [91]:
my_data['type'] = my_data['type'].astype('category')
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    4 non-null      category
 1   value   4 non-null      float64
dtypes: category(1), float64(1)
memory usage: 288.0 bytes

In [96]:
my_data['value'] = my_data['value'].astype('float16')
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    4 non-null      category
 1   value   4 non-null      float16
dtypes: category(1), float16(1)
memory usage: 264.0 bytes

In [97]:
my_data

  type  value
0    B   18.0
1    B   20.0
2    C   10.0
3    C  -10.0

# Задание 7
Любым удобным для вас способом создайте ``dataframe`` c именем ``my_data``, в котором две колонки c именами (``type`` - строки, ``value`` - числа с плавающей точкой) и десять тысяч (10 000) наблюдений в каждой колонке. В колонке ``type`` должно быть 10 уникальных значений.

```python
my_data.shape
____________
(10000, 2)
```

Какой размер созданного вами датафрейма? (Подумайте, что лучше использовать - информацию из метода df.info() или информацию из метода df.memory_usage()?)
1) Измените тип данных колонки type на category. Как изменился размер датафрейма?
2) Измените тип данных колонки value на менее жадный. Как изменился размер датафрейма?

Во сколько раз уменьшился размер исходного датафрейма после выполнения этих двух операций?

#### Для решения дальнейших задач мы будем использовать следующий датасет, загрузите его с помощью команды:

In [ ]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')

In [ ]:
df

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
4     0  10.0  B -1.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[500 rows x 4 columns]

Примечание: все операции с исходным датафреймом должны быть ``inplace``. То есть исходный датафрейм в переменной ``df`` **должен** измениться

# Задание 8

В переменную с именем subset_1 сохраните только первые 19 строк и только 1 и 3 колонку.

В переменную с именем subset_2 сохраните все строки кроме 2, 3 и 18 и только 2 и 4 колонку.

In [ ]:
subset_1 = 
subset_2 =

SyntaxError: ignored

# Задание 9

В переменную subset_3 сохраните только те наблюдения, у которых значения переменной V1 строго больше 0, и значение переменной V3  равняется 'A'.

В переменную  subset_4  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

In [ ]:
subset_3 = 
subset_4 =

# Задание 10
Добавьте следующие колонки в df:

1) V5 = V1 + V4
2) V6 = **натуральный** логарифм переменной V2

# Задание 11

Переименуйте колонки в df.

1) V1 -> session_value

2) V2 -> group

3) V3 -> time

4) V4 -> n_users

# Задание 12
В датафрейме ``my_stat`` в колонке ``session_value`` замените все пропущенные значения на нули.

В колонке ``n_users`` замените все отрицательные значения на медианное значение переменной ``n_users`` (без учета отрицательных значений, разумеется).

In [ ]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [ ]:
my_stat